---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ItemList from "@/components/pages/home/ItemList.astro";
import ProductCard from "@/components/ProductCard.astro";
import FeatureCard from "@/components/FeatureCard.astro";

import imgBolsasCemento from "@/assets/img/home/marcoCemento.webp";
import imgContacto from "@/assets/img/home/contacto.webp";
import imgBgMorteros from "@/assets/img/products/bgMorteros.webp";
import imgMorteros from "@/assets/img/products/mortero.webp";
import imgBgEstucos from "@/assets/img/products/bgEstucos.webp";
import imgEstuco from "@/assets/img/products/estuco.webp";
import imgBgAdhesivos from "@/assets/img/products/bgAdhesivos.webp";
import imgAdhesivos from "@/assets/img/products/adhesivo.webp";

import svgBricks from "@/assets/svg/svgBricks.svg";
import svgSpeed from "@/assets/svg/svgSpeed.svg";
import svgMateriales from "@/assets/svg/svgMateriales.svg";
import ButtonCustom from "@/components/ButtonCustom.astro";
import CarouselClients from "@/components/CarouselClients.astro";
---

<Layout title="MAY-PRO Inicio">
  <section class="w-full mb-10">
    <video loop autoplay muted class="w-full">
      <source
        src="https://res.cloudinary.com/dpxxweszs/video/upload/v1721672222/HomeMobile_vpppvp.mp4"
        media="(max-width: 640px)"
      />
      <source
        src="https://res.cloudinary.com/dpxxweszs/video/upload/v1721672227/HomeDesk_pvsgqu.mp4"
      />
    </video>
  </section>

  <!-- Description -->
  <section
    class="px-4 lg:px-0 container flex flex-wrap flex-col md:flex-row mb-16 lg:mb-24"
  >
    <div
      class="flex-1 lg:flex flex-col lg:justify-center basis-1/2 text-base lg:text-xl xl:text-2xl mb-6 md:mb-0 md:pr-8 lg:pr-16 [&>p>strong]:font-semibold"
    >
      <p class="mb-4 text-grey-1">
        Somos una <strong>empresa mexicana</strong> fabricante de materiales básicos
        de construcción con <strong>más de 50 años de experiencia</strong>.
      </p>
      <p class="text-grey-1">
        Ofrecemos una amplia variedad de <strong
          >productos que simplifican los procesos de construcción</strong
        > y cumplen con los <strong>más altos estándares de calidad</strong>.
      </p>
    </div>

    <div class="flex-1 basis-1/2">
      <Image
        src={imgBolsasCemento}
        alt="varias bolsas de cemento bien organizadas"
      />
    </div>

    <div
      class="flex flex-1 flex-col md:flex-row flex-wrap gap-16 items-center justify-center
      px-4 py-8 lg:pt-16"
    >
      <ItemList text={"Rendimiento"} />
      <ItemList text={"Protección"} />
      <ItemList text={"Durabilidad"} />
    </div>
  </section>

  <!-- Productos -->
  <section class="px-4 lg:px-0 container flex flex-col mb-14 md:mb-20 lg:mb-48">
    <h2
      class="font-title text-center text-grey-1 text-3xl lg:text-6xl lg:text-[4rem] mb-4 lg:mb-8"
    >
      Productos
    </h2>
    <p
      class="text-grey-1 text-center text-base md:text-xl lg:text-2xl mb-2 lg:mb-0"
    >
      Encuentra los materiales especializados y de alto desempeño ideales para
      desarrollar tu proyecto.
    </p>

    <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-5">
      <ProductCard
        title="Morteros secos premezclados"
        imgBg={imgBgMorteros}
        imgProduct={imgMorteros}
        href="/productos/morteros-secos-premezclados"
      />
      <ProductCard
        title="Estucos"
        imgBg={imgBgEstucos}
        imgProduct={imgEstuco}
        href="/productos/estucos"
      />
      <ProductCard
        title="Adhesivos"
        imgBg={imgBgAdhesivos}
        imgProduct={imgAdhesivos}
        href="/productos/adhesivos"
      />
    </div>
  </section>

  <!-- Feature -->
  <section class="px-4 lg:px-0 container flex flex-col mb-14 md:mb-20 lg:mb-48">
    <h2
      class="text-grey-1 text-end font-title font-normal text-2xl lg:text-4xl lg:text-[40px]
      mb-8 lg:mb-8 lg:max-w-lg xl:max-w-xl self-end"
    >
      Tu aliado para simplificar tus proyectos de construcción
    </h2>

    <div
      class="grid grid-cols-1 justify-items-center lg:grid-cols-3 gap-8 lg:gap-5"
    >
      <FeatureCard
        title="Acabados profesionales y de alta durabilidad"
        image={svgBricks}
      />
      <FeatureCard
        title="Incrementa la velocidad de la construcción"
        image={svgSpeed}
      />
      <FeatureCard
        title="Materiales especializados con fácil manejabilidad y aplicación"
        image={svgMateriales}
      />
    </div>
  </section>

  <!-- Contacto -->
  <section
    class="px-4 mb-16 lg:px-0 lg:mb-32
    w-full flex justify-center overflow-hidden
    lg:relative lg:border-grey-4 lg:border-y-2"
  >
    <div class="container lg:mt-24 lg:mb-16">
      <div>
        <h2
          class="font-title text-grey-1 text-3xl lg:text-6xl lg:text-[4rem] mb-4 lg:mb-8"
        >
          Contacto
        </h2>
        <p
          class="text-base lg:text-2xl text-grey-1 mb-10 lg:max-w-md xl:max-w-2xl"
        >
          Queremos escucharte y resolver tus dudas para que logres tu proyecto
          tal y como lo has imaginado.
        </p>

        <a href="/contacto" class="inline-block mb-4">
          <ButtonCustom
            type="primary"
            text="Contactanos"
            iconClass="ri-phone-fill"
          />
        </a>
      </div>
    </div>

    <Image
      class="hidden lg:block lg:absolute right-0 lg:w-1/2 lg:h-full lg:object-cover lg:right-0 top-0"
      src={imgContacto}
      alt="hombre acomodando productos"
    />
  </section>

  <section class="px-4 lg:px-0 container flex flex-col pb-24">
    <h2
      class="font-title text-center text-grey-1 text-3xl lg:text-6xl lg:text-[4rem] mb-8 lg:mb-16"
    >
      Algunos de nuestros clientes
    </h2>

    <CarouselClients id="clientes" />
  </section>
</Layout>
